.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.Label{
    font-weight: bold;
    display: block;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background: #fff;
    padding: 6px 10px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.InputElement:focus{
    outline: none;
    background: #ccc;
}
.invalid{
    border: 1px solid red;
    background: salmon;
}